<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">

                <div class="row">

                    <div class="col-md-8 modal-image">
                        <img class="img-responsive" th:src="@{${post.imageUrl}}" alt="Image"/>
                    </div><!--/ col-md-8 -->
                    <div class="col-md-4 modal-meta">
                        <div class="modal-meta-top">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                            </button><!--/ button -->
                            <div class="img-poster clearfix">
                                <a href=""><img class="img-responsive img-circle" id="post-image" th:src="@{${post.user.avatarUrl}}"
                                                alt="Image"/></a>
                                <strong><a href="" th:text="${post.user.username}"></a></strong>
                                <span th:text="${minute} + ' minutes ago'"></span><br/>
                                <a th:onclick="'follow(' + ${post.user.id} + ')'" class="kafe kafe-btn-mint-small"><i class="fa fa-check-square"></i> Following</a>
                            </div><!--/ img-poster -->

                            <ul class="img-comment-list">
                                <li th:each="comment : ${post.commentList}">
                                    <div class="comment-img">
                                        <img th:src="@{${comment.user.avatarUrl}}" class="img-responsive img-circle"
                                             alt="Image"/>
                                    </div>
                                    <div class="comment-text">
                                        <strong><a href="" th:text="${comment.user.username}"></a></strong>
                                        <p th:text="${comment.text}"></p> <span class="date sub-text"></span>
                                    </div>
                                </li><!--/ li -->
                            </ul><!--/ comment-list -->

                            <div class="modal-meta-bottom">
                                <ul>
                                    <li><a class="modal-like" th:onclick="'like(\''+${post.id}+'\',\''+ 'dung'+ '\')'"><i class="fa fa-heart"></i></a><span
                                            class="modal-one" th:text="${post.likeList.size()}"></span> |
                                        <a class="modal-comment" href="#"><i class="fa fa-comments"></i></a><span th:text="${post.commentList.size()}"> </span>
                                    </li>
                                    <li>
			   <span class="thumb-xs">
				<img class="img-responsive img-circle" th:src="@{${user.avatarUrl}}" alt="Image">
			   </span>
                                        <div class="comment-body">
                                            <input id="comment" class="form-control input-sm" type="text"
                                                   placeholder ="Write your comment...">
                                        </div><!--/ comment-body -->
                                    </li>
                                </ul>
                            </div><!--/ modal-meta-bottom -->

                        </div><!--/ modal-meta-top -->
                    </div><!--/ col-md-4 -->

                </div><!--/ row -->
            </div><!--/ modal-body -->

        </div><!--/ modal-content -->
    </div><!--/ modal-dialog -->
