<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

    <!-- ==============================================
    Title and Meta Tags
    =============================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is notInstagram</title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta property="og:title" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:description" content=""/>

    <!-- ==============================================
    Favicons
    =============================================== -->
    <link rel="icon" href="../src/main/resources/assets/img/logo.jpg">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">

    <!-- ==============================================
    CSS
    =============================================== -->
    <link type="text/css" href="assets/css/demos/photo.css" rel="stylesheet"/>

    <!-- ==============================================
    Feauture Detection
    =============================================== -->
    <script src="../src/main/resources/assets/js/modernizr-custom.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- ==============================================
Navigation Section
=============================================== -->
<header class="tr-header">
    <nav class="navbar navbar-default" th:replace="fragments/fragment :: navbar">
    </nav><!-- /.navbar -->
</header><!-- Page Header -->

<!-- ==============================================
Navbar Second Section
=============================================== -->
<section class="nav-sec" th:replace="fragments/fragment :: nav-sec">
</section>

<!-- ==============================================
News Feed Section
=============================================== -->
<section class="newsfeed">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">

                <a href="#">
                    <div class="storybox"
                         style="background: linear-gradient( rgba(34,34,34,0.78), rgba(34,34,34,0.78)), url('assets/img/posts/2.gif') no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">
                        <div class="story-body text-center">
                            <div class=""><img class="img-circle" src="assets/img/users/10.jpg" alt="user"></div>
                            <h4>Clifford Graham</h4>
                            <p>2 hours ago</p>
                        </div>
                    </div>
                </a>

                <a href="#">
                    <div class="storybox"
                         style="background: linear-gradient( rgba(34,34,34,0.78), rgba(34,34,34,0.78)), url('assets/img/posts/3.gif') no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">
                        <div class="story-body text-center">
                            <div class=""><img class="img-circle" src="assets/img/users/13.jpeg" alt="user"></div>
                            <h4>Eleanor Harper</h4>
                            <p>4 hours ago</p>
                        </div>
                    </div>
                </a>

                <a href="#">
                    <div class="storybox"
                         style="background: linear-gradient( rgba(34,34,34,0.78), rgba(34,34,34,0.78)), url('assets/img/posts/4.jpg') no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">
                        <div class="story-body text-center">
                            <div class=""><img class="img-circle" src="assets/img/users/12.jpg" alt="user"></div>
                            <h4>Sean Coleman</h4>
                            <p>5 hours ago</p>
                        </div>
                    </div>
                </a>

                <a href="#">
                    <div class="storybox"
                         style="background: linear-gradient( rgba(34,34,34,0.78), rgba(34,34,34,0.78)), url('assets/img/posts/15.jpg') no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">
                        <div class="story-body text-center">
                            <div class=""><img class="img-circle" src="assets/img/users/15.jpg" alt="user"></div>
                            <h4>Vanessa Wells</h4>
                            <p>5 hours ago</p>
                        </div>
                    </div>
                </a>

                <div class="trending-box hidden-xs hidden-md">
                    <div class="row">
                        <div class="col-lg-12">
                            <a href="photo_stories.html"><h4>More stories</h4></a>
                        </div>
                    </div>
                </div>

            </div><!--/ col-lg-3 -->
            <div class="col-lg-6">
                <div id="postList" th:each="post : ${postList}">
                    <div class="cardbox" th:id="'post' + ${post.id}">

                        <div class="cardbox-heading">
                            <!-- START dropdown-->
                            <div class="dropdown pull-right">
                                <button class="btn btn-secondary btn-flat btn-flat-icon" type="button"
                                        data-toggle="dropdown" aria-expanded="false">
                                    <em class="fa fa-ellipsis-h"></em>
                                </button>
                                <div class="dropdown-menu dropdown-scale dropdown-menu-right" role="menu"
                                     style="position: absolute; transform: translate3d(-136px, 28px, 0px); top: 0px; left: 0px; will-change: transform;">
                                    <a class="dropdown-item" href="#">Hide post</a>
                                    <a class="dropdown-item" href="#">Stop following</a>
                                    <a class="dropdown-item" href="#">Report</a>
                                </div>
                            </div><!--/ dropdown -->
                            <!-- END dropdown-->
                            <div class="media m-0">
                                <div class="d-flex mr-3">
                                    <a th:href="@{'/profile/'+${post.user.username}}"><img class="img-responsive img-circle" th:src="@{${post.user.avatarUrl}}"
                                                     alt="User"></a>
                                </div>
                                <div class="media-body">
                                    <p class="m-0" th:text="${post.user.username}"></p>
                                    <small><span>10 hours ago</span></small>
                                </div>
                            </div><!--/ media -->
                        </div><!--/ cardbox-heading -->

                        <div class="cardbox-item">
                            <a href="#myModal" data-toggle="modal" onclick="" th:onclick="'postDetail(\''+ ${post.id} +'\')'">
                                <img class="img-responsive" th:src="@{${post.imageUrl}}" alt="MaterialImg">
                            </a>
                        </div><!--/ cardbox-item -->
                        <div class="cardbox-base">
                            <ul>
                                <li><a href="#"><img src="assets/img/users/ 1.jpg" class="img-responsive img-circle"
                                                     alt="User"></a></li>
                                <li><a href="#"><img src="assets/img/users/2.jpg" class="img-responsive img-circle"
                                                     alt="User"></a></li>
                                <li><a href="#"><img src="assets/img/users/3.jpg" class="img-responsive img-circle"
                                                     alt="User"></a></li>
                                <li><a href="#"><img src="assets/img/users/4.jpg" class="img-responsive img-circle"
                                                     alt="User"></a></li>
                                <li><a href="#"><img src="assets/img/users/5.jpg" class="img-responsive img-circle"
                                                     alt="User"></a></li>
                                <li><a href="#"><img src="assets/img/users/6.jpg" class="img-responsive img-circle"
                                                     alt="User"></a></li>
                                <li><a href="#"><img src="assets/img/users/7.jpg" class="img-responsive img-circle"
                                                     alt="User"></a></li>
                                <li><a href="#"><img src="assets/img/users/8.jpg" class="img-responsive img-circle"
                                                     alt="User"></a></li>
                                <li><a href="#"><img src="assets/img/users/9.jpg" class="img-responsive img-circle"
                                                     alt="User"></a></li>
                                <li><a href="#"><img src="assets/img/users/10.jpg" class="img-responsive img-circle"
                                                     alt="User"></a></li>
                            </ul>
                        </div><!--/ cardbox-base -->
                        <div class="cardbox-like">
                            <ul>
                                <li><a th:onclick="'like(\''+${post.id}+'\',\''+ 'dung'+ '\')'"><i class="fa fa-heart"></i></a><span class="likeQuantity" th:text="${post.likeList.size()}"></span></li>
                                <li><a onclick="" title="" class="com"><i class="fa fa-comments"></i></a> <span
                                        class="span-last" th:text="${post.commentList.size()}"></span></li>
                            </ul>
                        </div><!--/ cardbox-like -->

                    </div><!--/ cardbox -->
                </div>


            </div><!--/ col-lg-6 -->
            <div class="col-lg-3">

                <div class="suggestion-box full-width">
                    <div class="suggestions-list">
                        <div class="suggestion-body" th:each="user : ${latest5User}">
                            <img class="img-responsive img-circle" th:src="${user.avatarUrl}" alt="Image">
                            <div class="name-box">
                                <h4 th:text="${user.fullName}">Anthony McCartney</h4>
                                <span th:text="'@' + ${user.username}"></span>
                            </div>
                            <span th:onclick="'follow('+ ${user.id} + ')'"><i class="fa fa-plus"></i></span>
                        </div>
                    </div><!--suggestions-list end-->
                </div>

                <div class="trending-box">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4>Trending Photos</h4>
                        </div>
                    </div>
                </div>

                <div class="trending-box">
                    <div class="row">
                        <div class="col-lg-6" th:each="each : ${latest10TrendingPost}">
                            <a href="#"><img th:src="@{${each.imageUrl}}" class="img-responsive" alt="Image"/></a>
                        </div>
                    </div>
                </div>


            </div>

        </div><!--/ row -->
    </div><!--/ container -->
</section><!--/ newsfeed -->

<!-- ==============================================
Modal Section
=============================================== -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">

                <div class="row">

                    <div class="col-md-8 modal-image">
                        // Pass imageUrl here
                        <img class="img-responsive" src="" alt="Image"/>
                    </div><!--/ col-md-8 -->
                    <div class="col-md-4 modal-meta">
                        <div class="modal-meta-top">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                            </button><!--/ button -->
                            <div class="img-poster clearfix">
                                <a href=""><img class="img-responsive img-circle" id="post-image" src=""
                                                alt="Image"/></a>
                                // Post user
                                <strong><a href="" id="post-username"></a></strong>
                                <span>12 minutes ago</span><br/>
                                <a href="" class="kafe kafe-btn-mint-small"><i class="fa fa-check-square"></i> Following</a>
                            </div><!--/ img-poster -->

                            <ul class="img-comment-list">
                                <li>
                                    <div class="comment-img">
                                        <img src="../static/assets/img/users/17.jpeg" class="img-responsive img-circle"
                                             alt="Image"/>
                                    </div>
                                    <div class="comment-text">
                                        <strong><a href="">Anthony McCartney</a></strong>
                                        <p>Hello this is a test comment.</p> <span class="date sub-text">on December 5th, 2016</span>
                                    </div>
                                </li><!--/ li -->
                            </ul><!--/ comment-list -->

                            <div class="modal-meta-bottom">
                                <ul>
                                    <li><a class="modal-like" href="#"><i class="fa fa-heart"></i></a><span
                                            class="modal-one"> 786,286</span> |
                                        <a class="modal-comment" href="#"><i class="fa fa-comments"></i></a><span> 786,286</span>
                                    </li>
                                    <li>
			   <span class="thumb-xs">
				<img class="img-responsive img-circle" src="http://bootdey.com/img/Content/user_3.jpg" alt="Image">
			   </span>
                                        <div class="comment-body">
                                            <input class="form-control input-sm" type="text"
                                                   placeholder="Write your comment...">
                                        </div><!--/ comment-body -->
                                    </li>
                                </ul>
                            </div><!--/ modal-meta-bottom -->

                        </div><!--/ modal-meta-top -->
                    </div><!--/ col-md-4 -->

                </div><!--/ row -->
            </div><!--/ modal-body -->

        </div><!--/ modal-content -->
    </div><!--/ modal-dialog -->
</div><!--/ modal -->


<!-- ==============================================
Scripts
=============================================== -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="../src/main/resources/assets/js/base.js"></script>
<script src="assets/plugins/slimscroll/jquery.slimscroll.js"></script>
<script>
    $('#Slim,#Slim2').slimScroll({
        height: "auto",
        position: 'right',
        railVisible: true,
        alwaysVisible: true,
        size: "8px",
    });


    function like(postId,username) {
        let urlLike = "/api/like/" + postId
        let json = {
            username : username
        }
        $.ajax({
            type: "POST",
            url: urlLike,
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(json),
            success: function (data) {
                let elementId = "post" + data.id;
                let currentEle = $("#" + elementId);
                let spanEle = $(currentEle).find(".likeQuantity");
                spanEle.text(data.likeList.length);
            }
        })
    }
    // Modal

    function getPostPopup(postId) {
        let url = "api/post/" + postId
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
            }
        })
    }
    function postDetail(postId){
        let url = "api/postDetail/" + postId;
        $.ajax({
            type: "GET",
            url: url,
            dataType: "html",
            success: function (res) {
                $('#myModal').html(res);
                console.log(res);
            }
        })
    }

    function follow(targetId) {
        let url = "api/follow/" + targetId;
        $.ajax({
            type: "PUT",
            url: url,
            error: function () {
                alert("error")
            }
        })
    }

    function comment(postId) {
        let url = "/api/comment/" + postId;
        let comment = $("#comment").val();
        let data = {
            text : comment
        }
        $.ajax({
            type: "PUT",
            data: JSON.stringify(data),
            url: url,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (commentList) {
                console.log(commentList);
            }

        })
    }

    $('#comment').keypress(function (e) {
        if (e.which == 13) {
            let postId = $('#postId').val();
            comment(postId);
            return false;
        }
    });




</script>

</body>
</html>
