<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- ==============================================
    Title and Meta Tags
    =============================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fluffs - Ultimate Bootstrap Social Network UI Kit</title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta property="og:title" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:description" content=""/>

    <!-- ==============================================
    Favicons
    =============================================== -->
    <link rel="icon" href="../src/main/resources/assets/img/logo.jpg">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">

    <!-- ==============================================
    CSS
    =============================================== -->
    <link type="text/css" href="assets/css/demos/photo.css" rel="stylesheet"/>

    <!-- ==============================================
    Feauture Detection
    =============================================== -->
    <script src="../src/main/resources/assets/js/modernizr-custom.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- ==============================================
Navigation Section
=============================================== -->
<header class="tr-header">
    <nav class="navbar navbar-default" th:replace="fragments/fragment :: navbar">
    </nav>
</header><!-- Page Header -->

<!-- ==============================================
Navbar Second Section
=============================================== -->
<section class="nav-sec" th:replace="fragments/fragment :: nav-sec">
</section>

<!-- ==============================================
News Feed Section
=============================================== -->
<section class="upload">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">

                <div class="box">
                    <form th:object="${post}" th:action="@{/upload}" method="post" id="upload-form">
                        <textarea th:field="*{text}" class="form-control no-border" rows="3" placeholder="Type something..."></textarea>
                        <input th:field="*{imageUrl}" class="form-control no-border" >
                    </form>
                    <div class="box-footer clearfix">
                        <button class="kafe-btn kafe-btn-mint-small pull-right btn-sm" onclick="document.getElementById('upload-form').submit()">Upload</button>
                        <ul class="nav nav-pills nav-sm">
                            <li class="nav-item"><a class="nav-link" href=""><i class="fa fa-camera text-muted"></i></a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href=""><i class="fa fa-video text-muted"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <div class="row one-row">
            <div class="col-lg-12">
                <a href="https://picturepan2.github.io/instagram.css/" target="_blank"><h4>Instagram Filters from
                    Picture Pan 2</h4></a>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-image">
                        <img src="assets/img/posts/18.jpg" class="img-responsive" alt="Image"/>
                    </div>
                    <div class="card-header">
                        <span>Normal</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-image filter-1977">
                        <img src="assets/img/posts/18.jpg" class="img-responsive" alt="Image"/>
                    </div>
                    <div class="card-header">
                        <span class="h6">1977</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-image filter-willow">
                        <img src="assets/img/posts/18.jpg" class="img-responsive" alt="Image"/>
                    </div>
                    <div class="card-header">
                        <span class="h6">Willow</span>
                    </div>
                </div>
            </div>

        </div><!--/ row-->

        <div class="row">

            <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-image filter-sutro">
                        <img src="assets/img/posts/18.jpg" class="img-responsive" alt="Image"/>
                    </div>
                    <div class="card-header">
                        <span class="h6">Sutro</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-image filter-reyes">
                        <img src="assets/img/posts/18.jpg" class="img-responsive" alt="Image"/>
                    </div>
                    <div class="card-header">
                        <span class="h6">Reyes</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-image filter-poprocket">
                        <img src="assets/img/posts/18.jpg" class="img-responsive" alt="Image"/>
                    </div>
                    <div class="card-header">
                        <span class="h6">Poprocket</span>
                    </div>
                </div>
            </div>

        </div><!--/ row-->

        <div class="row">

            <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-image filter-inkwell">
                        <img src="assets/img/posts/18.jpg" class="img-responsive" alt="Image"/>
                    </div>
                    <div class="card-header">
                        <span class="h6">Inkwell</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-image filter-nashville">
                        <img src="assets/img/posts/18.jpg" class="img-responsive" alt="Image"/>
                    </div>
                    <div class="card-header">
                        <span class="h6">Nashville</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-image filter-moon">
                        <img src="assets/img/posts/18.jpg" class="img-responsive" alt="Image"/>
                    </div>
                    <div class="card-header">
                        <span class="h6">Moon</span>
                    </div>
                </div>
            </div>

        </div><!--/ row-->


    </div><!--/ container -->
</section><!--/ newsfeed -->
<!-- ==============================================
Scripts
=============================================== -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="../src/main/resources/assets/js/base.js"></script>
<script src="assets/plugins/slimscroll/jquery.slimscroll.js"></script>
<script>
    $('#Slim,#Slim2').slimScroll({
        height: "auto",
        position: 'right',
        railVisible: true,
        alwaysVisible: true,
        size: "8px",
    });
</script>

</body>
</html>
